@import url(https://fonts.googleapis.com/css?family=Courier+Prime:regular,italic,700,700italic);
*{
    margin:0;
    outline:0;
    padding:0;

}
/* this is just a placeholder image for now  */
/* image is not showing up */
body{
    background-image: url(/aboutUsImages/group.jpg); 
    background-size: cover;
    background:no-repeat;
}

/* could not remember how to do the margin shortcut, bgColor is also just placeholder  */
/* not sure about the gradient, playing around with it but running out of time  */
.filter{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgb(111, 224, 139);
    background: -moz-linear-gradient(160deg, rgba(244, 247, 244, 0.3) 0%, rgba(33, 117, 8, 0.3) 100%);
background: -webkit-linear-gradient(160deg, rgba(244, 247, 244, 0.3) 0%, rgba(33, 117, 8, 0.3) 100%);
background: linear-gradient(160deg, rgba(9, 172, 9, 0.3) 0%, rgba(33, 117, 8, 0.3) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5313a6",endColorstr="#f748ff",GradientType=1);
}
.container{
    width: 50%;
    height: 500px;
    position: absolute;
    left: 50%;
   right: 50%;
   transform: translate(-50%,-50%);
   display:flex;

   box-shadow: 0 2px 15px rgba(33, 117, 8, 0.3);
   border-radius:15px ;
   overflow: hidden;
}
.desc{
    width: 50%;
    padding: 30px;

    background: rgb(83,19,166);
background: -moz-linear-gradient(160deg, rgb(25, 110, 68) 0%, rgb(126, 148, 137) 100%);
background: -webkit-linear-gradient(160deg, rgba(25, 110, 68) 0%, rgba(126, 148, 137) 100%);
background: linear-gradient(160deg, rgba(25, 110, 68) 0%, rgba(126, 148, 137) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5313a6",endColorstr="#f748ff",GradientType=1);
}


