* {
    font-family: 'Roboto', sans-serif;
}

.display-none {
    display: none;
}

#navbar {
    background-color: black;
    color:white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 25px;
    list-style-type: none;
}

nav li {
    font-size: 15px;
}

p, .center {
    text-align: center;
}

body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

a {
    text-decoration: none;
    color: white;
}

footer a {
    text-decoration: none;
    color: lightgray;
}

#navbar {
    background-color: black;
    color:white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 25px;
    list-style-type: none;
}

#mainlogo {
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
}

#landingphoto {
    background-image: url(../Images/mainphoto.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

#main-banner {
    background-image: url(../Images/mainbanner.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    height: 100px;
}

h2 {
    margin: 85px 55px 55px 55px;
    font-size: 45px;
    display: flex;
    align-items: center;
}

.h2 {
    margin: 0px !important;
    display: flex;
    justify-content: center;
    color: white;
}

.h2-checkout {
    margin: 20px auto !important;
    font-size: 20px;
    color: yellowgreen;
    padding: 15px;
    width: 95vw;
    text-align: center;
    display: inline;
}

h3 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 0px;
}

.h3-checkout {
    /* margin: 20px auto !important; */
    font-size: 15px;
    color: grey;
    padding: 5px;
    /* width: 95vw;
    text-align: center;
    display: inline; */
}

h4 {
    font-size: 20px;
    font-weight: normal;
    text-align: center;
}

.flex-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.ISBN {
    font-weight: lighter;
}

.ISBN-checkout {
    font-weight: lighter;
    margin: 0px;
    padding: 0px;
}

.author {
    margin: 0px 0px 20px 0px;
}

.lighter {
    font-weight: lighter;
}

.grey-dropdown {
    padding: 55px;
    background-color: rgb(129, 129, 129);
    font-size: 15px;
    color: white;
    width: 150px;
    margin: 25px auto;
}

.description {
    font-weight: 300;
    padding: 0px 15px;
}

.price {
    font-weight: 800;
    font-size: 35px;
    color: yellowgreen;
}

.price-checkout {
    font-weight: 800;
    font-size: 25px;
    color: yellowgreen;
    margin: 0px 0px 20px 0px;
}

.small-text {
    font-size: 20px;
    font-weight: 300;
}

.smaller-text {
    font-size: 15px;
    font-weight: 300;
    color: lightgray;
    margin: 0px;
}

.email-input {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 10px;
    border-radius: 100px;
    font-size: 15px;
    text-align: center;
}

.sign-up-button {
    width: 200px;
    padding: 10px 20px;
    margin: 8px 10px;
    border-radius: 100px;
    font-size: 20px;
    color: green;
    font-weight: 900;
}

.sign-up-button:hover, .add-to-cart-button:hover {
    color: white;
    background-color: green;
}

.pay-cash-button {
    width: 150px;
    padding: 10px 20px;
    border-radius: 100px;
    font-size: 20px;
    color: green;
    font-weight: 900;
}

.pay-cash-button:hover {
    background-color: green;
    color: white;
}

.newsletter-div {
    margin-top: 50px
}

.input-and-button {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 150px;
}

#search-bar {
    width: 100%;
    height: 25px;
    padding: 0px 5px;
    margin: 30px 10px 10px 10px;
    font-size: 15px;
    border-radius: 3px;
    background-color: lightgray;
}

#cart-button {
    padding: 5px 15px;
    margin: 8px 10px;
    border-radius: 100px;
    font-size: 15px;
    background-color: green;
    color: white;
    font-weight: bold;
    position: absolute;
    right: 5px;
    top: 5px;
}

#cart-button:hover, #checkout-button:hover {
    background-color: yellowgreen;
}

#checkout-button {
    padding: 10px 20px;
    margin: 20px 10px;
    border-radius: 100px;
    font-size: 20px;
    background-color: green;
    color: white;
    font-weight: bold;
    right: 5px;
    top: 5px;
}

.space-between {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.book-section {
    background-color: rgb(238, 238, 238);
    padding: 25px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    margin: 15px 15px;
    flex: 1;
    max-width: 400px;
}

.checkout-div {
    border: lightgray 1px solid;
    padding: 25px;
    margin: 0px 5px;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
}

.checkout-div-book {
    flex-direction: row;
}

.book-thumbnail {
    width: 250px;
    margin: 25px auto;
}

.book-thumbnail-checkout {
    width: 150px;
    margin: 35px 10px 10px 10px;
    display: inline-block;
}

.add-to-cart-button {
    width: 200px;
    padding: 10px 20px;
    border-radius: 100px;
    font-size: 20px;
    color: green;
    font-weight: 900;
    margin: 0px auto 25px auto;
    
}

.flex {
    flex-direction: column;
    align-items: center;
}

.yellowgreen-text {
    color: yellowgreen !important;
}

.bold {
    font-weight: bold;
}

footer {
    border: 1px rgb(233, 233, 233) solid;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: lightgray;
}

.grey-input-box {
    padding: 5px 0px;
    margin: 3px 5px;
    font-size: 15px;
    border-radius: 3px;
    background-color: rgb(233, 233, 233);
    width: 100%;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
}

.shipping {
    display: flex;
    align-items: center;
    justify-content: center;
}

.align-left {
    text-align: left;
}

.center {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.full-width {
    width: 98%;
}

.margin-15 {
    margin: 0px 15px;
}

.left-align {
    text-align: left;
}

.inline {
    display: inline;
}

.flex-start {
    align-items: flex-start;
}

.no-margin {
    margin: 0px;
}

.format-checkout {
    padding: 0px;
    margin: 0px 0px 10px 10px;
    max-width: 100px;
}

.profile-image {
    width: 250px;
}

.profile-container {
    margin: 50px;
}





/*media query*/

@media screen and (min-width: 600px) {
    
    .display-none {
        display: unset;
    }
    
    footer a {
        text-decoration: none;
        color: lightgray;
    }
    
    footer {
        flex-direction: row;
        justify-content: space-around;
    }
    
    .email-input {
        width: 250px;
    }
    
    .input-and-button {
        display: flex;
        align-items: center;
        flex-direction: row;
        margin-bottom: 150px;
    }
    
    #search-bar {
        width: 275px;
        height: 25px;
        padding: 0px 5px;
        margin: 0px 0px 10px 10px;
        font-size: 15px;
        border-radius: 3px;
        background-color: lightgray;
    }
    
    #cart-button {
        position: relative;
        right: 0px;
        top: 0px;
    }

    /* .description {
        min-width: 400px;
    } */
    
}